<% content_for :title, "Nueva categoría" %>

<h1>Nueva categoría</h1>

  <%= link_to "❮ Volver", categoria_path, class: "link-new" %>

<div class="container-content">
<%= render "form", categorium: @categorium %>
</div>

